@model  projectFlight.ViewModel.FlightViewModel
 @using projectFlight.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirm</title>
</head>
<body>
    <div> 
        @Html.LabelFor(m=>m.Flight.flightId)
        <h1>!!!!!1</h1>
    </div>
</body>
</html>
